.employee-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.container {
  width: 100%;
  overflow: auto;
}

.table-head {
  background-color: var(--primary-color);
  height: 50px;
  color: white;
  text-align: left;
  white-space: nowrap;
}

.table-head th {
  padding-left: 10px;
}

.table-row {
  height: 40px;
  border-bottom: 1px solid #ccc;
}

.table-row td {
  padding-left: 10px;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .employee-table {
   font-size: 14px;
  }

  .table-head th {
    padding-left: 20px;
  }
}

.table-row:nth-child(even) {
  background-color: #f2f2f2;
}

.edit-btn {
  background-color: var(--light-blue);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn {
  background-color: var(--error-color);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.action-buttons {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.table-row td:nth-child(1) {
  cursor: pointer;
}
