/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #181780;
    --success-color: #4CAF50;
    --error-color: #f44336;
    --light-blue: #2196F3;
}


body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}